{% extends "base_printable.html" %}

{% block content %}
    <div class="page">
        <div class="lead">
            <div class="column-left">
                <img src="images/example.jpeg" class="hero">
            </div>

            <div class="column-right">
                <h1>Анализ отзывов на товар:</h1>

                <p><a href="https://www.wildberries.ru/catalog/28417641/detail.aspx">https://www.wildberries.ru/catalog/28417641/detail.aspx</a></p>

                <span class="starred-rating"><img src="images/star-on.png"> 5.0</span>
            </div>
        </div>

        <div class="problem-lead">
            <h1>Возможная основная проблема</h1>
            <div class="suggestions-block">
                <div class="suggestions">
                    <span class="suggestion negative">тонкий</span>
                    <span class="suggestion negative">очень тонкий</span>
                </div>
                <span class="starred-rating"><img src="images/star-on.png"> 1.0</span>
                <span class="starred-rating-comment">Средний рейтинг</span>
            </div>
        </div>
        <div class="examples">
            <div class="example">
                <div class="emoji">
                    <img src="images/emoji-sad.png">
                </div>
                <div class="text">
                    Товар оказался с браком. Как-будто выжжено. Подарили ребенку, заметил тут же, расстроился. Материал не очень качественный, тонкий. Вайлдберриз брак не признали, отказали в возврате. Так что смотрите внимательнее при доставке, все проверяйте. Мы просмотрели...
                </div>
                <div class="rating">
                    <img src="images/star-on.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                </div>
            </div>
            <div class="example">
                <div class="emoji">
                    <img src="images/emoji-sad.png">
                </div>
                <div class="text">
                    Ну давайте начнём с того что он 19 см, а не 20, очень тонкий, разочарованы и я и ребёнок. Так долго ждать и в итоге получить слёзы вместо радости, когда вы товары для детей продаёте, вы хотя бы о чувствах этих самых детей думайте.
                </div>
                <div class="rating">
                    <img src="images/star-on.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                </div>
            </div>
            <div class="example">
                <div class="emoji">
                    <img src="images/emoji-sad.png">
                </div>
                <div class="text">
                    Очень тонкий:((( разочарование. Ещё и блеклый. Есть с чем сравнить, не первый уже покупаем. Не рекомендую.'
                </div>
                <div class="rating">
                    <img src="images/star-on.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                </div>
            </div>
        </div>
    </div>


    <div class="page">
        <div class="problem-lead">
            <h1>Основные преимущества</h1>
            <div class="suggestions-block">
                <div class="suggestions">
                    <span class="suggestion positive">яркий</span>
                    <span class="suggestion positive">очень яркий</span>
                    <span class="suggestion positive">яркий пластик</span>
                </div>
                <span class="starred-rating"><img src="images/star-on.png"> 5</span>
                <span class="starred-rating-comment">Средний рейтинг</span>
            </div>
        </div>
        <div class="examples">
            <div class="example">
                <div class="emoji">
                    <img src="images/emoji-happy.png">
                </div>
                <div class="text">
                    Отличный поп ит, большой и яркий. Силикон тонковат, но это и хорошо…ребёнку 2 лет как раз легко нажимать. Отдельное спасибо за подарок. Симпл димпл оч крутой. По ходу он ребёнку больше понравился, чем поп ит 👍
                </div>
                <div class="rating">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                </div>
            </div>
            <div class="example">
                <div class="emoji">
                    <img src="images/emoji-happy.png">
                </div>
                <div class="text">
                    Очень яркий, классный, дочь в восторге😀за подарок отдельное спасибо, даже не ожидала🤗
                </div>
                <div class="rating">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                </div>
            </div>
            <div class="example">
                <div class="emoji">
                    <img src="images/emoji-happy.png">
                </div>
                <div class="text">
                    Ребенку "прям очень понравился".говорит Согласна, яркий ,пластик нормальный,давить на пупырки хорошо. За подарок,отдельное спасибо, я честно говоря не ожидала,что сдержите слово, а он был и хороший. В темноте светит немного. Ребенок от посылки вашей счастлив весь вечер ,да и мои ожидания не обманули заслуженное 5. Мог и в магазине купить,но ему нравится получать посылки WB ,. Спасибо за настроение.
                </div>
                <div class="rating">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="logo"><img border="0" src="images/yay.png" alt title></div>
            <div class="text">
                <div>Анализируйте отзывы и улучшайте продажи на Wildberries</div>
                <div class="madeby">Отчет подготовлен ботом CANB2B</div>
            </div>
        </div>
    </div>
{% endblock %}