{% extends "base_printable.html" %}

{% block content %}
    <div class="page">
        <div class="lead">
            <div class="column-left">
                <img src="images/example.jpeg" class="hero">
            </div>

            <div class="column-right">
                <h1>Анализ отзывов на товар:</h1>

                <p><a href="https://www.wildberries.ru/catalog/29346349/detail.aspx?targetUrl=RG">https://www.wildberries.ru/catalog/29346349/detail.aspx?targetUrl=RG</a></p>

                <span class="starred-rating"><img src="images/star-on.png"> 1.0</span>
            </div>
        </div>

        <div class="problem-lead">
            <h1>Возможная основная проблема</h1>
            <div class="suggestions-block">
                <div class="suggestions">
                    <span class="suggestion negative">БУ</span>
                    <span class="suggestion negative">б/у</span>
                    <span class="suggestion negative">бу</span>
                </div>
                <span class="starred-rating"><img src="images/star-on.png"> 1.0</span>
                <span class="starred-rating-comment">Средний рейтинг отзывов</span>
            </div>
        </div>
        <div class="examples">
            <div class="example">
                <div class="emoji">
                    <img src="images/emoji-sad.png">
                </div>
                <div class="text">
                    Товар б/у! Возврат!
                </div>
                <div class="rating">
                    <img src="images/star-on.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                </div>
            </div>
            <div class="example">
                <div class="emoji">
                    <img src="images/emoji-sad.png">
                </div>
                <div class="text">
                    Деревянные палочки из натуральной березы!Экологически чистый продукт для использования как в кондитерке, так и в косметологии. Без заусенцев и зазубрин, идеально гладкие.Используйте наши палочки для приготовления домашнего мороженого и леденцов, сервируйте десерты... они идеально подходят для этих задач!Так же деревянные палочки прекрасно подходят для эпиляции/депиляции.Гипоаллергенные палочки из 100% березы - это неограниченный простор для занятий творчеством как с детьми, так и для взрослого человека. Создавайте головоломки и поделки, раскрашивайте их, развивайте мелкую моторику.В сети есть множество идей поделок из палочек.
                </div>
                <div class="rating">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                </div>
            </div>
            <div class="example">
                <div class="emoji">
                    <img src="images/emoji-sad.png">
                </div>
                <div class="text">
                    Качество не очень. Грязный. Треснутый внутри. БУ
                </div>
                <div class="rating">
                    <img src="images/star-on.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                </div>
            </div>
        </div>
    </div>




    <div class="page">
        <div class="problem-lead">
            <h1>Возможная дополнительная проблема</h1>
            <div class="suggestions-block">
                <div class="suggestions">
                    <span class="suggestion negative">Грязный</span>
                    <span class="suggestion negative">грязный</span>
                    <span class="suggestion negative">грязненький</span>
                </div>
                <span class="starred-rating"><img src="images/star-on.png"> 1.7</span>
                <span class="starred-rating-comment">Средний рейтинг отзывов</span>
            </div>
        </div>
        <div class="examples">
            <div class="example">
                <div class="emoji">
                    <img src="images/emoji-sad.png">
                </div>
                <div class="text">
                    Качество не очень. Грязный. Треснутый внутри.
                </div>
                <div class="rating">
                    <img src="images/star-on.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                </div>
            </div>
            <div class="example">
                <div class="emoji">
                    <img src="images/emoji-sad.png">
                </div>
                <div class="text">
                    Пришел бу! Весь поцарапанный и грязный!!! Продавца не советую!
                </div>
                <div class="rating">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                </div>
            </div>
            <div class="example">
                <div class="emoji">
                    <img src="images/emoji-sad.png">
                </div>
                <div class="text">
                    Хороший симпл димпл, но есть дефекты, это не ровно установлена резина, стыдно друзьям показывать! Пришел грязненький
                </div>
                <div class="rating">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-off.png">
                    <img src="images/star-off.png">
                </div>
            </div>
        </div>
    </div>


    <div class="page">
        <div class="problem-lead">
            <h1>Основные преимущества</h1>
            <div class="suggestions-block">
                <div class="suggestions">
                    <span class="suggestion positive">Хлопки</span>
                    <span class="suggestion positive">хлопает</span>
                    <span class="suggestion positive">кликает</span>
                </div>
                <span class="starred-rating"><img src="images/star-on.png"> 5</span>
                <span class="starred-rating-comment">Средний рейтинг отзывов</span>
            </div>
        </div>
        <div class="examples">
            <div class="example">
                <div class="emoji">
                    <img src="images/emoji-happy.png">
                </div>
                <div class="text">
                    Хлопки хорошие, пластик прочный. Ребёнок играет, спасибо ВБ!
                </div>
                <div class="rating">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                </div>
            </div>
            <div class="example">
                <div class="emoji">
                    <img src="images/emoji-happy.png">
                </div>
                <div class="text">
                    Прикольный! Пришёл в хорошем качестве, хлопает норм.
                </div>
                <div class="rating">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                </div>
            </div>
            <div class="example">
                <div class="emoji">
                    <img src="images/emoji-happy.png">
                </div>
                <div class="text">
                    Крутой симпал димпал хорошо кликает спасибо большое
                </div>
                <div class="rating">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                    <img src="images/star-on.png">
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="logo"><img border="0" src="images/yay.png" alt title></div>
            <div class="text">
                <div>Анализируйте отзывы и улучшайте продажи на Wildberries</div>
                <div class="madeby">Отчет подготовлен ботом CANB2B</div>
            </div>
        </div>
    </div>
{% endblock %}